.DS_Store
.sfdx/sfdx-config.json
.sfdx/indexes/lwc/custom-components.json
.sfdx/tools/sobjects/standardObjects/Account.cls
.sfdx/tools/sobjects/standardObjects/Attachment.cls
.sfdx/tools/sobjects/standardObjects/Case.cls
.sfdx/tools/sobjects/standardObjects/Contact.cls
.sfdx/tools/sobjects/standardObjects/Contract.cls
.sfdx/tools/sobjects/standardObjects/Lead.cls
.sfdx/tools/sobjects/standardObjects/Note.cls
.sfdx/tools/sobjects/standardObjects/Opportunity.cls
.sfdx/tools/sobjects/standardObjects/Order.cls
.sfdx/tools/sobjects/standardObjects/Pricebook2.cls
.sfdx/tools/sobjects/standardObjects/PricebookEntry.cls
.sfdx/tools/sobjects/standardObjects/Product2.cls
.sfdx/tools/sobjects/standardObjects/RecordType.cls
.sfdx/tools/sobjects/standardObjects/Report.cls
.sfdx/tools/sobjects/standardObjects/Task.cls
.sfdx/tools/sobjects/standardObjects/User.cls
.sfdx/typings/lwc/apex.d.ts
.sfdx/typings/lwc/engine.d.ts
.sfdx/typings/lwc/lds.d.ts
.sfdx/typings/lwc/messageservice.d.ts
.sfdx/typings/lwc/schema.d.ts
.sfdx/typings/lwc/user.d.ts
